@font-face {
  font-family: CentraNo1;
  src: url('../../assets/font/CentraNo1-Book.woff');
}
.header {
  display: flex;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

  &__header2 {
    width: 1254px;
    display: flex;
    justify-content: space-between;

    img {
      width: 146px;
      height: 65.75px;
      color: black;
    }

    &__div {
      display: flex;
      width: 148px;
      height: 48px;
      padding: 10px 40px;
      justify-content: center;
      align-items: center;
      color: #a78730df;
      margin-top: 15px;
      background-color: white;
      column-gap: 10px;
      border-radius: 32px;
      p {
        font-family:CentraNo1 ;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
      &__icon {
        padding-top: 5px;
      }
    }
  }
}
